@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}
body {
  background-color: var(--Very-light-grayish-blue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.container {
  box-shadow: 0 0 8px lightgray;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
}

.wrapper {
  width: 90%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
}

.profile-img {
  width: 50px;
}

.unread {
  background-color: var(--Very-light-grayish-blue);
}

.msg-box {
  border-radius: 5px;
  padding: 10px 12px;
  border: 1px solid;
  margin-top: 10px;
  border-color: var(--Light-grayish-blue-1);
}

/* fonts */
#notification {
  font-size: 1.2rem;
  border-radius: 5px;
  color: white;
  padding: 0 5px;
  background: hsl(219, 85%, 26%);
}
p {
  font-weight: 500;
  color: var(--Dark-grayish-blue);
}

.chess-club {
  font-weight: 800;
  color: hsl(219, 85%, 26%);
}
.time {
  color: var(--Grayish-blue);
  font-size: 0.8rem;
}
.username {
  font-weight: 800;
  color: var(--Very-dark-blue);
}

.grp {
  font-weight: 800;
  color: var(--Dark-grayish-blue);
}

/* hover */

.msg-box:hover {
  cursor: pointer;
  background-color: var(--Light-grayish-blue-2);
}

#markread:hover,
.username:hover,
.grp:hover {
  cursor: pointer;
  color: hsl(219, 85%, 26%);
}

@media screen and (max-width: 600px) {
  h2,
  #notification {
    font-size: 1rem;
    padding: 0 2px;
  }
  p {
    font-size: 0.8rem;
  }

  .profile-img {
    width: 30px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 80%;
    min-width: 220px;
  }
  h2,
  #notification {
    font-size: 0.9rem;
    padding: 0 2px;
  }
  p {
    font-size: 0.7rem;
  }

  .profile-img {
    width: 20px;
  }
}
